{% extends "base.html" %}
{% load static %}
{% block content %}
    <form action="" method="GET" id="form_s">
    {% csrf_token %}
        {% for object in questions_s %}
             <h1>{{ object.question }}</h1>
            <input type="hidden" name="question_id" value="{{ object.id }}">
        {% endfor %}

    {% if questions_s.has_other_pages %}
    <ul class="pagination">
        {% if questions_s.has_next %}
            <button class="submit" form="form_s">
                <a class="page-link" style="background-color: deeppink; color: black" href="?page={{ questions_s.next_page_number }}&answer=1">Women</a>
            </button>
            <button class="submit" form="form_s">
                <a class="page-link" style="background-color: deepskyblue; color: black;" href="?page={{ questions_s.next_page_number }}&answer=2">Men</a>
            </button>

        {% else %}
            <button type="submit" form="form_s">
                <a class="page-link" style="background-color: deeppink; color: black" href="{% url "submit-s" answer=1%}">Women</a>
            </button>
            <button type="submit" form="form_s" class="page-item">
                <a class="page-link" style="background-color: deepskyblue; color: black;" href="{% url "submit-s" answer=2%}">Men</a>
            </button>
        {% endif %}
    </ul>
    {% endif %}
    </form>
{% endblock %}