{% extends "base.html" %}
{% load static %}
{% block content %}
    <form action="" method="GET" id="form_p">
    {% csrf_token %}
        {% for object in questions_p %}
            <h1>{{ object.question }}</h1>
        {% endfor %}
    </form>

    {% if questions_p.has_other_pages %}
    <ul class="pagination">
        {% if questions_p.has_next %}
            <button class="button" form="form_p">
                <a class="page-link" style="background-color: #303236; color: ghostwhite" href="?page={{ questions_p.next_page_number }}&answer=True">Yes</a>
            </button>
            <button class="button" form="form_p">
                <a class="page-link" style="background-color: #303236; color: ghostwhite;" href="?page={{ questions_p.next_page_number }}&answer=False">No</a>
            </button>

        {% else %}
            <button type="submit" form="form_p">
                <a class="page-link" style="background-color: #303236; color: ghostwhite;" href="{% url "submit-p" answer=True%}">Yes</a>
            </button>
            <button type="submit" form="form_p">
                <a class="page-link" style="background-color: #303236; color: ghostwhite;" href="{% url "submit-p" answer=False%}">No</a>
            </button>

        {% endif %}
    </ul>
    {% endif %}
{% endblock %}